.quiz-header {
  font-size: 64px;
  font-weight: 500;
  margin: 0.5rem;
}

.quiz-highlight {
  font-weight: 250;
  color: #2c2c2c;
}

.quiz-bold {
  font-weight: 700;
  color: #d73470;
}

.quiz-rules {
  background-color: #d9d9d94d;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: left;
}

.quiz-rules span {
  display: block;
  margin-top: 0.5rem;
  color: #d73470;
  text-decoration: none;
  font-weight: 500;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input-group input[type='text'] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f3f3e9;
}

.topic-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
